{% extends 'base.html' %}


{% block content %}
<style>
.acc-label {
  font-weight: bold;
  color: #000000; /* Измененный цвет текста метки */
  margin-right: 5px;
}

.acc-p {
  margin-bottom: 10px;
  color: #008000; /* Измененный цвет текста параграфа */
}

.acc-button {
  padding: 10px 47px;
  background-color: #212529; /* Измененный цвет фона кнопки */
  border-style: ridge;
  border-color: #fff;
  color: #fff; /* Измененный цвет текста кнопки */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.acc-button:hover {
  background-color: #eca305; /* Измененный цвет фона кнопки при наведении */
}
</style>
<div class="container">
  <h1 class="text-center mb-4">Регистрация</h1>
<hr>
</div>
<div class="container mt-5 d-flex justify-content-center">
    <form method="post" class="w-50">
        {% csrf_token %}
        {% for f in formMyAccount %}
        <div class="form-group">
            <label for="{{ f.id_for_label }}" class="acc-label h4">{{ f.label }}:</label>
            {{ f }}
            <small class="form-text text-danger">{{ f.errors }}</small>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary mb-4 acc-button">Зарегистрироваться</button>
    </form>
    <div class="alert alert-info text-center w-50" role="alert">
        <h5>После успешного прохождения процедуры регистрации на сайте, вы можете перейти к авторизации, для дальнейшего просмотра основного функционала сайта.
        </br>
        </br>
          <a href="{% url 'userLogin' %}" class="btn btn-secondary w-50 text-center acc-button">Авторизоваться на сайте</a>
        </h5>
    </div>
  
</div>


{% endblock %}